body{
    font-family: sans-serif;
}

nav li:last-child a{
    background-color: white;

}
nav li:last-child a:hover{
    background-color:gray;
    transition: 2ms;
}
nav li a:hover{
    color:brown;
    transition: 2ms;
}
nav li a{
    transition: all .3s ease-in-out;
}
section.hero{
    background-color: #9ddfd3;
}
.size{
    background-color: lightgrey;
}
.add-to-cart{
    border: 2px solid orange;
}
.add-to-cart:hover{
    background-color: orange;
    color: white;
    border-color:wheat;
}
.btn{
    background-color: red;
}
.btn:hover{
    background-color: rgb(190, 9, 9);
    transition: all .3s ease-in-out;
}
section.cart{
    background-color: rgb(238, 236, 236);
}
.amount{
    color:red;
}